/* css start */
*{
    text-decoration: none;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0;
    background: #FFF8F3;
}
.nav-heading{
    text-align: center;
}
nav h3{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    padding: 15px 35px; 
    color: #474747;
    font-size: 20px;
    font-weight: 400;

}
nav ul li a:hover{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    background: tomato;
    transition: all linear .3s;
    border-radius: 5px;
}
nav h3 span{
    color: tomato;
}